body {
  font-family: 'Arial', sans-serif;
  background-color: #f8f9fa;
  margin: 0;
  padding: 0;
}

.App {
  text-align: center;
  padding: 20px;
}

h1 {
  color: #343a40;
}

.task-form {
  margin-bottom: 20px;
}

.task-form input {
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ced4da;
  border-radius: 5px;
  margin-right: 10px;
  margin-bottom: 10px;
}

.task-form button {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  margin-top: 10px;
  margin-bottom: 20px;
}

.task-list {
  list-style-type: none;
  padding: 0;
  width: 700px;
  margin: auto;
}

.task-list li {
  display: flex;
  justify-content:space-between;
  align-items: center;
  padding: 15px;
  margin-bottom: 15px;
  border: 1px solid #ced4da;
  border-radius: 5px;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.task-list button {
  background-color: #dc3545;
  color: #fff;
  border: none;
  padding: 8px 15px;
  border-radius: 3px;
  cursor: pointer;
  font-size: 14px;
  transition: background-color 0.3s ease;
}

.task-list .upgrade {
  background-color: #04AA6D;
}

.task-list button:hover {
  background-color: #c82333;
}

.task-list button.upgrade:hover {
  background-color: #317058;
}

nav .active {
  background-color: #04AA6D;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

nav li {
  float: left;
}

nav li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

nav li a:hover {
  background-color: #111;
}

.error {
  color: #c82333;
  margin-bottom: 10px;
}

.warning {
  color: rgb(98, 98, 11);
  margin-bottom: 10px;
}